.node {
  color: whitesmoke;
  width: 3vmin;
  height: 3vmin;
  background-color: black;
  border: solid #000 1px;
  /* margin: 2px; */
}
.Start {
  background-color: chartreuse;
}
.Finish {
  background-color: rgb(243, 121, 34);
}
.Unused {
  background-color: #dad7cd;
}
.Shortest {
  background-color: #a3b18a;
}
.Visited {
  background-color: #588157;
}
