h1 {
  font-size: calc(0px + 4vmin);
  margin: 0vh;
}
.Logo-Container{
  width: 95vw;
}
.App-logo-1 {
  height: 5vh;
  pointer-events: none;
  margin-right: 90px;
  float:right;
  
}
.App-logo-2 {
  height: 5vh;
  pointer-events: none;
  margin-right: 90px;
  float:right;
  /* rotate: 120deg; */
  
}
.App-logo-3 {
  height: 5vh;
  pointer-events: none;
  margin-right: 90px;
  float:right;
  /* rotate: 240deg; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-1 {
    animation: App-logo-spin-1 infinite 20s linear;
  }
  .App-logo-2 {
    animation: App-logo-spin-2 infinite 15s linear;
  }
  .App-logo-3 {
    animation: App-logo-spin-3 infinite 10s linear;
  }
}
@keyframes App-logo-spin-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PVHeader {
  background-color: #25382f;
  /* background-image: url(https://lh3.googleusercontent.com/nFmvl0_IY67F-YhtfMgL2EvlYMmkX17jCFh-veVOiCPebyk83z99oFu95PEbhwpioaOOY2hvtahc-kBgpZWVw_hgDWWQ6mhcl5X-dhY2eSI_JxoY4Jp9dD7HjBZB7JT0DH-t4vZ7FA=w2400); */
  /* #282c34 */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  background-color: #25382f;
  background-image: url(https://lh3.googleusercontent.com/nFmvl0_IY67F-YhtfMgL2EvlYMmkX17jCFh-veVOiCPebyk83z99oFu95PEbhwpioaOOY2hvtahc-kBgpZWVw_hgDWWQ6mhcl5X-dhY2eSI_JxoY4Jp9dD7HjBZB7JT0DH-t4vZ7FA=w2400);
  /* #282c34 */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.ButtonBar {
  margin: 10px;
}
.NodeGrid {
  display: flex;
  flex-direction: row;
  border: solid #5d887275 1px
}
